<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='com.simbest.cores.app.mapper.FileUploaderMapper'>
	<!-- 定义缓存 -->
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>
     
  	<resultMap id="FileUploaderResult" type="FileUploader">
        <id column="id" property="id" />        
        <result column="description" property="description" />
 		<result column="processTypeId" property="processTypeId" />
        <result column="processHeaderId" property="processHeaderId" />
        <result column="receiptCode" property="receiptCode" />
        <result column="receiptId" property="receiptId" />
        <result column="fileClass" property="fileClass" />
        <result column="finalName" property="finalName" /> 
        <result column="filePath" property="filePath" /> 
        <result column="fileSize" property="fileSize" /> 
        <result column="orgId" property="orgId" /> 
        <result column="attr1" property="attr1" /> 
        <result column="attr2" property="attr2" /> 
        <result column="attr3" property="attr3" />  
       	<result column="enabled" property="enabled" />
 		<result column="removed" property="removed" />
    	<result column="createUserId" property="createUserId" />
    	<result column="createUserCode" property="createUserCode" />
 		<result column="createUserName" property="createUserName" />
 		<result column="createDate" property="createDate" />
 		<result column="updateUserId" property="updateUserId" />
 		<result column="updateUserCode" property="updateUserCode" />
 		<result column="updateUserName" property="updateUserName" />
 		<result column="updateDate" property="updateDate" />
 		<result column="processTypeName" property="processTypeName" /> 
        <result column="processHeaderName" property="processHeaderName" />   
        <result column="processStepName" property="processStepName" />                             	
    </resultMap>
	
	<select id='getById' parameterType='Long' resultMap="FileUploaderResult">
     	select * from app_file_upload where id = #{id}
	</select>	
	<select id="getAll" resultMap="FileUploaderResult" flushCache="true">
        select * from app_file_upload where removed=0 and enabled=1
		<if test="processTypeId != null">
            and processTypeId = #{processTypeId}
        </if> 
		<if test="processHeaderId != null">
            and processHeaderId = #{processHeaderId}
        </if>      
        <if test="receiptCode != null and receiptCode !=''">
            and receiptCode = #{receiptCode}
        </if>   
		<if test="receiptId != null">
            and receiptId = #{receiptId}
        </if>  
        <if test="fileClass != null and fileClass !=''">
            and fileClass = #{fileClass}
        </if> 
        <if test="finalName != null and finalName !=''">
            and finalName = #{finalName}
        </if> 
        <if test="orgId != null">
            and orgId = #{orgId}
        </if> 
        <if test="filePath != null and filePath !=''">
            and filePath = #{filePath}
        </if>   
        <if test="createUserId != null">
        	and createUserId = #{createUserId}
        </if>  
        <if test="attr1 != null and attr1 !=''"> <!--文件MD5-->
        	and attr1 = #{attr1}
        </if>
        <if test="attr2 != null and attr2 !=''"> <!--内网文件地址-->
            and attr2 = #{attr2}
        </if>
    </select>
           
	<insert id="create" parameterType="FileUploader" useGeneratedKeys="true" keyProperty="id" flushCache="true" databaseId="mysql">
        INSERT INTO app_file_upload (description,processTypeId,processHeaderId,receiptCode,receiptId,fileClass,finalName,filePath,fileSize,orgId,attr1,attr2,attr3,createUserId,createUserCode,createUserName,createDate,updateUserId,updateUserCode,updateUserName,updateDate) 
        values (#{description},#{processTypeId},#{processHeaderId},#{receiptCode},#{receiptId},#{fileClass},#{finalName},#{filePath},#{fileSize},#{orgId},#{attr1},#{attr2},#{attr3},#{createUserId},#{createUserCode},#{createUserName},#{createDate},#{updateUserId},#{updateUserCode},#{updateUserName},#{updateDate})
        ON DUPLICATE KEY UPDATE updateDate=#{createDate},description=#{description},finalName=#{finalName},filePath=#{filePath},fileSize=#{fileSize},attr1=#{attr1},attr2=#{attr2},attr3=#{attr3},removed=0,enabled=1
    </insert>
    <insert id="create" parameterType="FileUploader" useGeneratedKeys="false" keyProperty="id" databaseId="oracle">
        <selectKey resultType="Long" keyProperty="id" order="BEFORE">
            select app_file_upload_seq.nextval as id from dual
        </selectKey>
        MERGE INTO app_file_upload dest
          USING (SELECT #{attr1} attr1, #{receiptId} receiptId, #{fileClass} fileClass FROM dual) src
          ON (
              (dest.attr1 = src.attr1 AND dest.receiptId = src.receiptId AND dest.fileClass = src.fileClass)
          )
          WHEN MATCHED THEN
              UPDATE SET updateDate=#{createDate},description=#{description},finalName=#{finalName},filePath=#{filePath},fileSize=#{fileSize},attr1=#{attr1},attr2=#{attr2},attr3=#{attr3},removed=0,enabled=1
          WHEN NOT MATCHED THEN
            INSERT (id,description,processTypeId,processHeaderId,receiptCode,receiptId,fileClass,finalName,filePath,fileSize,orgId,attr1,attr2,attr3,createUserId,createUserCode,createUserName,createDate,updateUserId,updateUserCode,updateUserName,updateDate)
            VALUES (#{id},#{description},#{processTypeId},#{processHeaderId},#{receiptCode},#{receiptId},#{fileClass},#{finalName},#{filePath},#{fileSize},#{orgId},#{attr1},#{attr2},#{attr3},#{createUserId},#{createUserCode},#{createUserName},#{createDate},#{updateUserId},#{updateUserCode},#{updateUserName},#{updateDate})
    </insert>

    <update id="updateEnable" parameterType="FileUploader" flushCache="true" statementType="PREPARED">
        UPDATE app_file_upload SET enabled=#{enabled},updateUserId=#{updateUserId},updateUserCode=#{updateUserCode},updateUserName=#{updateUserName},updateDate=#{updateDate} WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">   
	        #{item}   
	    </foreach> 
    </update>
    
    <delete id="deleteById" parameterType="java.lang.Long" flushCache="true" statementType="PREPARED">
    	UPDATE app_file_upload SET removed=1,enabled=0 WHERE id = #{id}
    </delete>
    
    <delete id="delete" parameterType="FileUploader" flushCache="true" statementType="PREPARED">
        UPDATE app_file_upload SET removed=1,enabled=0
		<where>
			<if test="id != null">
	            and id = #{id}
	        </if> 
	        <if test="finalName != null and finalName !=''">
	            and finalName = #{finalName}
	        </if>
	        <if test="filePath != null and filePath !=''">
	            and filePath = #{filePath}
	        </if>
	        <if test="processTypeId != null">
	            and processTypeId = #{processTypeId}
	        </if>
	        <if test="processHeaderId != null">
	            and processHeaderId = #{processHeaderId}
	        </if>
	        <if test="receiptCode != null and receiptCode !=''">
	            and receiptCode = #{receiptCode}
	        </if>
	        <if test="receiptId != null">
	            and receiptId = #{receiptId}
	        </if>
	        <if test="fileClass != null and fileClass !=''">
	            and fileClass = #{fileClass}
	        </if>
	        <if test="orgId != null">
	            and orgId = #{orgId}
	        </if>   
	        <if test="createUserId != null">
	        	and createUserId = #{createUserId}
	        </if>  
		</where>
    </delete>	
       
    <delete id="batchDelete" flushCache="true" statementType="PREPARED">
     	UPDATE app_file_upload SET removed=1,enabled=0 WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">   
	        #{item}   
	    </foreach> 
    </delete> 
     
    <!-- 仅供档案性流程置换流程receiptId -->
	<update id="update" parameterType="FileUploader" flushCache="true">  
	    update app_file_upload 
	    <set>
	      	<if test="description != null and description != ''">description=#{description},</if>
			<if test="processTypeId  != null">processTypeId =#{processTypeId},</if>
			<if test="processHeaderId != null">processHeaderId=#{processHeaderId},</if>
			<if test="receiptCode  != null and receiptCode  != ''">receiptCode =#{receiptCode},</if>
			<if test="receiptId != null">receiptId=#{receiptId},</if>
			<if test="fileClass != null and fileClass != ''">fileClass=#{fileClass},</if>
			<if test="finalName != null and finalName != ''">finalName=#{finalName},</if>
			<if test="filePath  != null and filePath  != ''">filePath =#{filePath},</if>
			<if test="fileSize  != null">fileSize =#{fileSize},</if>
			<if test="orgId  != null">orgId =#{orgId},</if>
			<if test="attr1  != null and attr1  != ''">attr1 =#{attr1},</if>
			<if test="attr2  != null and attr2  != ''">attr2 =#{attr2},</if>
			<if test="attr3  != null and attr3  != ''">attr3 =#{attr3},</if>
			<if test="enabled   != null">enabled  =#{enabled},</if>
			<if test="removed  != null">removed =#{removed},</if>
			<if test="createUserId != null">createUserId=#{createUserId},</if>
			<if test="createUserCode  != null and createUserCode  != ''">createUserCode =#{createUserCode},</if>
			<if test="createUserName != null and createUserName != ''">createUserName=#{createUserName},</if>
			<if test="createDate  != null">createDate =#{createDate},</if>
			<if test="updateUserId   != null">updateUserId  =#{updateUserId},</if>
			<if test="updateUserCode != null and updateUserCode != ''">updateUserCode=#{updateUserCode},</if>
			<if test="updateUserName != null and updateUserName != ''">updateUserName=#{updateUserName},</if>
			<if test="updateDate  != null">updateDate =#{updateDate },</if>
	    </set>
	    where id=#{id} 
	</update> 
	<update id="batchUpdate" parameterType="java.util.List" flushCache="true" statementType="PREPARED">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
	        UPDATE app_file_upload 
	        <set>
	        	<if test="item.receiptId != null">  
			        receiptId = #{item.receiptId},  
		        </if>  
	        </set>
	        WHERE id = ${item.id}
         </foreach>
    </update> 
    
</mapper>
