<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='com.simbest.cores.app.mapper.ProcessDraftMapper'>
	<!-- 定义缓存 -->
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>
     
 	<resultMap id="ProcessDraftResult" type="ProcessDraft">   
        <id column="id" property="id" />        
        <result column="receiptId" property="receiptId" /> 
        <result column="title" property="title" />		
        <result column="code" property="code" />
        <result column="processTypeId" property="processTypeId" />
        <result column="processHeaderId" property="processHeaderId" />
        <result column="processStepId" property="processStepId" />
        <result column="processStepCode" property="processStepCode" />
        <result column="orgId" property="orgId" />
        <result column="orgName" property="orgName" />
        <result column="enabled" property="enabled" />  
        <result column="removed" property="removed" />
    	<result column="createUserId" property="createUserId" />
    	<result column="createUserCode" property="createUserCode" />
 		<result column="createUserName" property="createUserName" />
 		<result column="createDate" property="createDate" />
 		<result column="updateUserId" property="updateUserId" />
 		<result column="updateUserCode" property="updateUserCode" />
 		<result column="updateUserName" property="updateUserName" />
 		<result column="updateDate" property="updateDate" />   
		<result column="subjects" property="subjects"/>
 		<result column="subjectType" property="subjectType"/> 		       
    </resultMap>
    
	<select id='getById' parameterType='Long' resultMap="ProcessDraftResult">
     	SELECT i.*,h.headerDesc,s.stepDesc FROM app_process_draft i,app_process_header h,app_process_step s WHERE i.processHeaderId=h.headerId AND i.processStepId=s.stepId AND i.id = #{id}
	</select>

    <select id="getCount" resultType="Integer">
        SELECT count(*) FROM app_process_draft s WHERE s.createUserId = #{createUserId}
    </select>

	<select id="getAll" resultMap="ProcessDraftResult">
        SELECT i.*,h.headerDesc,s.stepDesc FROM app_process_draft i,app_process_header h,app_process_step s WHERE i.processHeaderId=h.headerId AND i.processStepId=s.stepId
        <if test="code != null">
            AND i.code = #{code}
        </if>
		<if test="title != null">
            AND i.title = #{title}
        </if> 
        <if test="enabled != null">
            and i.enabled = #{enabled}
        </if>
        <if test="processTypeId != null">
            AND i.processTypeId = #{processTypeId}
        </if> 
        <if test="processHeaderId != null">
            AND i.processHeaderId = #{processHeaderId}
        </if> 
        <if test="processStepId != null">
            AND i.processStepId = #{processStepId}
        </if> 
        <if test="subjects != null">
            AND i.subjects = #{subjects}
        </if> 
        <if test="subjectType != null">
            AND i.subjectType = #{subjectType}
        </if> 
        <if test="receiptId != null">
            AND i.receiptId = #{receiptId}
        </if> 
        <if test="orgId != null">
            AND i.orgId = #{orgId}
        </if> 
    	<if test="createUserId != null">
        	AND i.createUserId = #{createUserId}
        </if>  
    	<if test="updateUserCode != null">
        	AND i.updateUserId = #{updateUserId}
        </if>  
        ORDER By i.createDate DESC
    </select>
	
	<select id='getOne' resultMap="ProcessDraftResult">
     	SELECT i.*,h.headerDesc,s.stepDesc FROM app_process_draft i,app_process_header h,app_process_step s
 WHERE i.processHeaderId=h.headerId AND i.processStepId=s.stepId AND i.processHeaderId = #{processHeaderId} AND i.receiptId = #{receiptId}
	</select>
	
	<insert id="create" parameterType="ProcessDraft" useGeneratedKeys="true" keyProperty="id" > 
        insert into app_process_draft (receiptId,title,code,processTypeId,processHeaderId,processStepId,processStepCode,subjects,subjectType,orgId,orgName,createUserId,createUserCode,createUserName,createDate) 
        values (#{receiptId},#{title},#{code},#{processTypeId},#{processHeaderId},#{processStepId},#{processStepCode},#{subjects},#{subjectType},#{orgId},#{orgName},#{createUserId},#{createUserCode},#{createUserName},#{createDate})
    	ON DUPLICATE KEY UPDATE updateUserId=#{updateUserId},updateUserCode=#{updateUserCode},updateUserName=#{updateUserName},updateDate=#{updateDate},title=#{title},processStepId=#{processStepId},processStepCode=#{processStepCode},subjects=#{subjects},subjectType=#{subjectType}
    </insert>

    <delete id="delete" parameterType="ProcessDraft" flushCache="true" statementType="PREPARED" timeout="20">
     	DELETE FROM app_process_draft WHERE processTypeId = #{processTypeId} AND processHeaderId=#{processHeaderId} AND receiptId=#{receiptId} AND createUserId=#{createUserId}
    </delete>
	
    <update id="update" parameterType="java.util.Map" flushCache="true" statementType="PREPARED" timeout="20">
     	UPDATE app_process_draft SET receiptId=#{previousReceiptId} WHERE processTypeId = #{processTypeId} AND processHeaderId=#{processHeaderId} AND receiptId=#{currentReceiptId}
    </update>
</mapper>    
     