<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='com.simbest.cores.app.mapper.ProcessStepMapper'>
	<!-- 定义缓存 -->
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>
     
  	<resultMap id="processStepResult" type="ProcessStep">
        <id column="stepId" property="stepId" />     
        <result column="stepCode" property="stepCode" />
        <result column="stepType" property="stepType" />
        <result column="stepClass" property="stepClass" />
        <result column="stepDesc" property="stepDesc" />      
    	<result column="passId" property="passId" />
    	<result column="failId" property="failId" />
  		<result column="stopId" property="stopId" /> 
  		<result column="forkFromId" property="forkFromId" /> 
        <result column="ltop" property="ltop" /> 
        <result column="lleft" property="lleft" /> 
        <result column="sversion" property="sversion" />  
        <result column="typeId" property="typeId" />     
		<association property="header" javaType="ProcessHeader">
			<id property="headerId" column="headerId"/>
			<result property="hversion" column="hversion" /> 
        	<result column="headerDesc" property="headerDesc" />
        	<result property="enabled" column="enabled" />
        	<result property="headerCode" column="headerCode" />  
		</association>
		<collection property="audits" javaType="ArrayList" fetchType="eager" column="stepId" ofType="ProcessAudit" select="com.simbest.cores.app.mapper.ProcessAuditMapper.getByStep"/>		
		<collection property="configurations" javaType="ArrayList" fetchType="eager" column="stepId" ofType="ProcessStepConfiguration" select="com.simbest.cores.app.mapper.ProcessStepConfigurationMapper.getByStep"/>		
    </resultMap>

	<select id='getById' parameterType='Integer' resultMap="processStepResult">
		SELECT h.headerId,h.headerDesc,h.hversion,h.enabled,h.headerCode,s.* FROM app_process_step s,app_process_header h WHERE s.headerId=h.headerId AND s.sversion=h.hversion AND s.stepId = #{stepId}
	</select>

	<select id='getByUnique' parameterType='String' resultMap="processStepResult">
     	SELECT h.headerId,h.headerDesc,h.hversion,h.enabled,h.headerCode,s.* FROM app_process_step s,app_process_header h WHERE s.headerId=h.headerId AND s.sversion=h.hversion AND s.stepCode=#{stepCode}
	</select> 
	
	<select id='getByHeader' parameterType='Integer' resultMap="processStepResult">
		SELECT h.headerId,h.headerDesc,h.hversion,h.enabled,h.headerCode,s.* FROM app_process_step s,app_process_header h WHERE s.headerId=h.headerId AND s.sversion=h.hversion AND s.headerId =#{headerId}
	</select>
		    
    <select id="getAll" resultMap="processStepResult">     	        
        SELECT h.headerId,h.headerDesc,h.hversion,h.enabled,h.headerCode,s.* FROM app_process_step s,app_process_header h WHERE s.headerId=h.headerId AND s.sversion=h.hversion
        <if test="header != null">
            AND s.headerId = #{header.headerId} AND h.headerCode = #{header.headerCode}
        </if>
        <if test="forkFromId != null and forkFromId != ''">
        	AND s.forkFromId = #{forkFromId} 
        </if>
        <if test="stepType != null and stepType != ''">
        	AND s.stepType = #{stepType} 
        </if>
        <if test="stepClass != null and stepClass != ''">
        	AND s.stepClass = #{stepClass} 
        </if>
        <if test="sversion != null and sversion != ''">
        	AND s.sversion = #{sversion} 
        </if>
        ORDER BY h.headerId ASC,s.stepId ASC
    </select>
     
	<insert id="create" parameterType="ProcessStep" useGeneratedKeys="true" keyProperty="stepId" > 
        insert into app_process_step (stepCode,typeId,stepType,stepDesc,passId,failId,stopId,ltop,lleft,sversion,headerId ) 
        values (#{stepCode},#{typeId},#{stepType},#{stepDesc},#{passId},#{failId},#{stopId},#{ltop},#{lleft},#{sversion},#{header.headerId})
    </insert>
</mapper>
