<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='com.simbest.cores.app.mapper.ProcessTaskCallbackLogMapper'>
	<!-- 定义缓存 -->
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>
     
  	<resultMap id="ProcessTaskCallbackLogResult" type="ProcessTaskCallbackLog">
        <id column="id" property="id" />  
        <result column="callbackType" property="callbackType" />      
        <result column="callbackStartDate" property="callbackStartDate" />
        <result column="callbackEndDate" property="callbackEndDate" />
        <result column="callbackDuration" property="callbackDuration" />
        <result column="callbackResult" property="callbackResult" />
        <result column="callbackError" property="callbackError" />
        <association property="processTask" javaType="ProcessTask">
            <id property="id" column="task_id"/>
        </association>
    </resultMap>
	
	<select id="getAll" resultMap="ProcessTaskCallbackLogResult">
         SELECT * FROM app_process_task_callback_log
    </select>

	<insert id="create" parameterType="ProcessTaskCallbackLog" useGeneratedKeys="true" keyProperty="id" > 
        insert into app_process_task_callback_log (callbackType,callbackStartDate,callbackEndDate,callbackDuration,callbackResult,callbackError,task_id)
        values (#{callbackType},#{callbackStartDate},#{callbackEndDate},#{callbackDuration},#{callbackResult},#{callbackError},#{processTask.id})
    </insert>
    
</mapper>
