<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='com.simbest.cores.app.mapper.ProcessTrackMapper'>
	<!-- 定义缓存 -->
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>
     
  	<resultMap id="ProcessTrackResult" type="ProcessTrack">
        <id column="id" property="id" />
      	<result column="typeId" property="typeId" />
    	<result column="headerId" property="headerId" />
        <result column="receiptId" property="receiptId" />        
 		<result column="forkFromId" property="forkFromId" /> 
 		<result column="currentStepCode" property="currentStepCode" />     	
    </resultMap>
    
    <select id="getAll" resultMap="ProcessTrackResult">
        SELECT * from app_process_track 
        <where>
			<if test="typeId != null">
	            AND typeId = #{typeId}
	        </if>   
	        <if test="headerId != null">
	            AND headerId = #{headerId}
	        </if>
			<if test="receiptId != null">
	            AND receiptId = #{receiptId}
	        </if>     
	        <if test="forkFromId != null">
	            AND forkFromId = #{forkFromId}
	        </if>
	        <if test="currentStepCode != null">
	            AND currentStepCode = #{currentStepCode}
	        </if>
         </where>
    </select>
     
    <insert id="create" parameterType="ProcessTrack" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        INSERT INTO app_process_track (typeId,headerId,receiptId,forkFromId,currentStepCode) 
        VALUES (#{typeId},#{headerId},#{receiptId},#{forkFromId},#{currentStepCode})
    </insert>
    <insert id="create" parameterType="ProcessTrack" useGeneratedKeys="false" keyProperty="id" databaseId="oracle">
        <selectKey resultType="Long" keyProperty="id" order="BEFORE">
            select app_process_track_seq.nextval as id from dual
        </selectKey>
        INSERT INTO app_process_track (id,typeId,headerId,receiptId,forkFromId,currentStepCode)
        VALUES (#{id},#{typeId},#{headerId},#{receiptId},#{forkFromId},#{currentStepCode})
    </insert>

	<insert id="batchCreate" parameterType="java.util.List" flushCache="true" statementType="PREPARED" timeout="20" databaseId="mysql">
        insert into app_process_track (typeId,headerId,receiptId,forkFromId,currentStepCode)  values 
        <foreach collection="list" index="index" item="item" separator=",">   
	        (#{item.typeId},#{item.headerId},#{item.receiptId},#{item.forkFromId},#{item.currentStepCode})    
	    </foreach> 
    </insert>
    <insert id="batchCreate" parameterType="java.util.List" flushCache="true" statementType="PREPARED" timeout="20" databaseId="oracle">
        insert into app_process_track (id,typeId,headerId,receiptId,forkFromId,currentStepCode)  values
        <foreach collection="list" index="index" item="item" separator=",">
            (app_process_track_seq.nextval,#{item.typeId},#{item.headerId},#{item.receiptId},#{item.forkFromId},#{item.currentStepCode})
        </foreach>
    </insert>

    <delete id="delete" parameterType="ProcessTrack" flushCache="true" statementType="PREPARED" timeout="20">
     	DELETE FROM app_process_track WHERE typeId = #{typeId} AND headerId=#{headerId} AND receiptId=#{receiptId} AND forkFromId=#{forkFromId}
    </delete>
    
    <update id="update" parameterType="ProcessTrack" flushCache="true" statementType="PREPARED" timeout="20" >
		UPDATE app_process_track SET currentStepCode = #{nextStepCode} 
		WHERE typeId = #{typeId} AND headerId = #{headerId} AND receiptId = #{receiptId} AND forkFromId = #{forkFromId}	AND currentStepCode = #{currentStepCode}    
    </update> 
</mapper>
