<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
<mapper namespace='com.simbest.cores.app.mapper.ProcessTypeMapper'>
	<!-- 定义缓存 -->
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>
     
  	<resultMap id="processTypeResult" type="ProcessType">
        <id column="typeId" property="typeId" />        
        <result column="typeCode" property="typeCode" />
        <result column="typeDesc" property="typeDesc" />            	        
    </resultMap>

	<select id='getByUnique' parameterType='String' resultMap="processTypeResult">
     	select * from app_process_type where typeCode = #{typeCode}
	</select> 

	<select id="getAll" resultMap="processTypeResult">
    	select * from app_process_type
    </select>
</mapper>
