<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c='http://www.springframework.org/schema/c'
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<context:annotation-config />

	<context:component-scan base-package="com.simbest.cores" />

	<task:annotation-driven />

	<!-- spring @Scheduled 配置 cron 表达式 -->
	<util:properties id="configProps" location="classpath:config.properties" />
	
    <context:property-placeholder properties-ref="configProps" />
    
    <bean class="com.simbest.cores.app.event.AsyncAndSyncEventMulticaster" id="applicationEventMulticaster">
	    <property name="syncEventMulticaster">
	        <bean class="org.springframework.context.event.SimpleApplicationEventMulticaster">
	        </bean>
	    </property>
	    <property name="asyncEventMulticaster">
	        <bean class="org.springframework.context.event.SimpleApplicationEventMulticaster">
	            <property name="taskExecutor">
	                <bean class="org.springframework.core.task.SimpleAsyncTaskExecutor"/>
	                <!--  
	                	不可用此配置项，否则导致事件不在同一线程执行，流程的时间Listener获取不到当前登陆人信息
	                	<bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"/>
	                -->
				</property>
	        </bean>
	    </property>
	</bean>
	
	<!-- http://docs.spring.io/spring-framework/docs/current/spring-framework-reference/html/transaction.html -->
	<!-- MySQL Transaction Start -->
	<bean id='txManager' class='org.springframework.jdbc.datasource.DataSourceTransactionManager'>
		<property name='dataSource' ref='dataSource' />
	</bean>

	<tx:annotation-driven transaction-manager='txManager' />

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="upsert*" propagation="REQUIRED" />
			<tx:method name="merge*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="batch*" propagation="REQUIRED" />
			<tx:method name="sync*" propagation="REQUIRED" />
			<tx:method name="nestedCreate" propagation="NESTED" />
			<tx:method name="nestedUpdate" propagation="NESTED" />
			<tx:method name="*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* *..service..*Service.*(..))" order="1" />
	</aop:config>
	<!-- MySQL Transaction End -->

	<!-- Generic Service Start -->
	<bean id="taskTriggerDefinitionService" class="com.simbest.cores.service.impl.GenericMapperService">
		<constructor-arg index="0" ref="sqlSessionTemplateSimple" />
		<constructor-arg index="1"
			value="com.simbest.cores.admin.task.mapper.TaskTriggerDefinitionMapper" />
	</bean>
	<bean id="recordJobRunningResultService" class="com.simbest.cores.service.impl.GenericSQLService">		
    	<constructor-arg index="0" value="com.simbest.cores.admin.task.mapper.RecordJobRunningResultMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSessionTemplateSimple" />
    </bean>
    <bean id="processTaskCallbackRetryService" class="com.simbest.cores.service.impl.GenericSQLService">
        <constructor-arg index="0" value="com.simbest.cores.app.mapper.ProcessTaskCallbackRetryMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSessionTemplateSimple" />
    </bean>
    <bean id="processTaskCallbackLogService" class="com.simbest.cores.service.impl.GenericSQLService">
        <constructor-arg index="0" value="com.simbest.cores.app.mapper.ProcessTaskCallbackLogMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSessionTemplateSimple" />
    </bean>
	<bean id="processTypeService" class="com.simbest.cores.service.impl.GenericMapperService">
		<constructor-arg index="0" ref="sqlSessionTemplateSimple" />
		<constructor-arg index="1"
			value="com.simbest.cores.app.mapper.ProcessTypeMapper" />
	</bean>
	<bean id="processHeaderService" class="com.simbest.cores.service.impl.GenericMapperService">
		<constructor-arg index="0" ref="sqlSessionTemplateSimple" />
		<constructor-arg index="1"
			value="com.simbest.cores.app.mapper.ProcessHeaderMapper" />
	</bean>
	<bean id="processStepService" class="com.simbest.cores.service.impl.GenericMapperService">
		<constructor-arg index="0" ref="sqlSessionTemplateSimple" />
		<constructor-arg index="1"
			value="com.simbest.cores.app.mapper.ProcessStepMapper" />
	</bean>
	<bean id="processAuditService" class="com.simbest.cores.service.impl.GenericMapperService">
		<constructor-arg index="0" ref="sqlSessionTemplateSimple" />
		<constructor-arg index="1"
			value="com.simbest.cores.app.mapper.ProcessAuditMapper" />
	</bean>
	<bean id="processStepConfigurationService" class="com.simbest.cores.service.impl.GenericMapperService">
		<constructor-arg index="0" ref="sqlSessionTemplateSimple" />
		<constructor-arg index="1"
			value="com.simbest.cores.app.mapper.ProcessStepConfigurationMapper" />
	</bean>
	<bean id="processStepConditionService" class="com.simbest.cores.service.impl.GenericMapperService">
		<constructor-arg index="0" ref="sqlSessionTemplateSimple" />
		<constructor-arg index="1"
			value="com.simbest.cores.app.mapper.ProcessStepConditionMapper" />
	</bean>
	<bean id="processAuditLogService" class="com.simbest.cores.service.impl.GenericMapperService">
		<constructor-arg index="0" ref="sqlSessionTemplateSimple" />
		<constructor-arg index="1"
			value="com.simbest.cores.app.mapper.ProcessAuditLogMapper" />
	</bean>
	<!-- Generic Service End -->



	<!-- Generic Cache Component Start -->
	<bean id="taskTriggerDefinitionCache" class="com.simbest.cores.cache.impl.GenericCache">
		<constructor-arg index="0" ref="taskTriggerDefinitionService" />
		<property name="clazz" value="com.simbest.cores.admin.task.model.TaskTriggerDefinition" />
	</bean>
	<!--
	<bean id="sysUserCache" class="com.simbest.cores.cache.impl.GenericCache">
		<constructor-arg index="0" ref="sysUserService" />
		<property name="clazz" value="com.simbest.cores.admin.authority.model.SysUser" />
	</bean>
	-->
	<bean id="sysPermissionCache" class="com.simbest.cores.cache.impl.GenericCache">
		<constructor-arg index="0" ref="sysPermissionService" />
		<property name="clazz" value="com.simbest.cores.admin.authority.model.SysPermission" />
	</bean>
	<bean id="sysRoleCache" class="com.simbest.cores.cache.impl.GenericCache">
		<constructor-arg index="0" ref="sysRoleService" />
		<property name="clazz" value="com.simbest.cores.admin.authority.model.SysRole" />
	</bean>
	<bean id="sysOrgCache" class="com.simbest.cores.cache.impl.GenericCache">
		<constructor-arg index="0" ref="sysOrgService" />
		<property name="clazz" value="com.simbest.cores.admin.authority.model.SysOrg" />
	</bean>
	<bean id="processTypeCache" class="com.simbest.cores.cache.impl.GenericCache">
		<constructor-arg index="0" ref="processTypeService" />
		<property name="clazz" value="com.simbest.cores.app.model.ProcessType" />
	</bean>
	<bean id="processHeaderCache" class="com.simbest.cores.cache.impl.GenericCache">
		<constructor-arg index="0" ref="processHeaderService" />
		<property name="clazz" value="com.simbest.cores.app.model.ProcessHeader" />
	</bean>
	<bean id="processStepCache" class="com.simbest.cores.cache.impl.GenericCache">
		<constructor-arg index="0" ref="processStepService" />
		<property name="clazz" value="com.simbest.cores.app.model.ProcessStep" />
	</bean>
	<bean id="processAuditCache" class="com.simbest.cores.cache.impl.GenericCache">
		<constructor-arg index="0" ref="processAuditService" />
		<property name="clazz" value="com.simbest.cores.app.model.ProcessAudit" />
	</bean>
	<!-- Generic Cache Component End -->

</beans>