<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='com.simbest.cores.admin.task.mapper.RecordJobRunningResultMapper'>
	<!-- 定义缓存 -->
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>
     
  	<resultMap id="RecordJobRunningResultResult" type="RecordJobRunningResult">
        <id column="id" property="id" />  
        <result column="jobName" property="jobName" />      
        <result column="runStartTime" property="runStartTime" />
        <result column="runEndTime" property="runEndTime" />
        <result column="useSeconds" property="useSeconds" />
        <result column="content" property="content" />    
        <result column="createDate" property="createDate" />  
        <result column="result" property="result" />                      	
    </resultMap>
	
	<select id="getAll" resultMap="RecordJobRunningResultResult">
         SELECT * FROM sys_task_record_job_running
    </select>

	<insert id="create" parameterType="RecordJobRunningResult" useGeneratedKeys="true" keyProperty="id" > 
        insert into sys_task_record_job_running (jobName,runStartTime,runEndTime,useSeconds,content,createDate,result) 
        values (#{jobName},#{runStartTime},#{runEndTime},#{useSeconds},#{content},#{createDate},#{result})
    </insert>
    
</mapper>
